<form class="form-inline" style= "padding-left: 55%" action="/login" method="POST">
  <input class="form-control" type="email" name="email" placeholder="Email" style="width: 300px; margin: 1em">
  <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
  <button type="submit" class="btn btn-succuess btn-outline-dark">Login</button>
</form>